

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin:0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  background-repeat: no-repeat;
}

h1 {
  margin-top: 50px;
  color: white;
}

.scoreboard {
  margin: 20px 0;
  color: white;

}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.options {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.btn {
  font-size: 16px;
  padding: 10px 20px;
  background-color: #eee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #ccc;
}

.results {
  margin-top: 20px;
  color: white;

}
