@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Sofia+Sans+Extra+Condensed&display=swap");

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  background-repeat: no-repeat;
}

.gamePage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  font-size: 75px;
}

.scoreboard {
  color: white;
  border: 1px solid;
  width: 20%;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  justify-items: center;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.options {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.btn {
  font-size: 16px;
  padding: 10px 20px;
  background-color: #eee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #ccc;
}

.results {
  margin-top: 20px;
  color: white;
}
